a {
    text-decoration: none;
}

/* Start Left Menu */
.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #43cc61;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #ffffff;
}

#sidebar ul li a:hover {
    color: #000000;
    background: #fff;
}

#sidebar ul li.active > a {
    color: #fff;
    background: #009530;
}

#content {
    width: 100%;
    padding: 20px;
    min-height: calc(100vh - 55px);
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }
}

/* End Left Menu */
